Deliverable 2 Requirements

Using your knowledge of PySpark, Pandas, or SQL, you’ll determine if there is any bias towards reviews that were written as part of the Vine program. For this analysis, you'll determine if having a paid Vine review makes a difference in the percentage of 5-star reviews.

In [1]:
import pandas as pd
import numpy

In [2]:
# Read in vine table 

vine_df = pd.read_csv('./vine_table.csv') 
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5.0,0.0,0.0,N,Y
1,R36ED1U38IELG8,5.0,0.0,0.0,N,Y
2,R1UE3RPRGCOLD,2.0,1.0,1.0,N,Y
3,R298788GS6I901,5.0,0.0,0.0,N,Y
4,RNX4EXOBBPN5,1.0,1.0,1.0,N,Y

In [3]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4864249 entries, 0 to 4864248
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 222.7+ MB

In [4]:
# 1
# Filter the data and create a new DataFrame or table to retrieve 
# all the rows where the total_votes count is equal to or greater 
# than 20 to pick reviews that are more likely to be helpful and 
# to avoid having division by zero errors later on.

vine_df_20 = vine_df.loc[vine_df['total_votes']>20]
vine_df_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
831,R2MDI1TP46VSYD,3.0,9.0,21.0,N,Y
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [5]:
#2
# Filter the new DataFrame or table created in Step 1 and 
# create a new DataFrame or table to retrieve all the rows where the 
# number of helpful_votes divided by total_votes is equal to or greater than 50%.
vine_df_cleaned = vine_df_20.loc[(vine_df_20['helpful_votes'] / vine_df_20['total_votes'])>=0.5]
vine_df_cleaned

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
926,R2JM687C525WR9,3.0,33.0,33.0,Y,N
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [6]:
# 3
# Filter the DataFrame or table created in Step 2, 
# and create a new DataFrame or table that retrieves 
# all the rows where a review was written as part of 
# the Vine program (paid), vine == 'Y'.
paid_reviews_df = vine_df_cleaned.loc[vine_df_cleaned['vine'] =='Y']

paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
926,R2JM687C525WR9,3.0,33.0,33.0,Y,N
7569,RUB4AUWGHG16G,4.0,25.0,27.0,Y,N
20672,R1S3IDYJUA6V2G,5.0,28.0,32.0,Y,N
22574,RZFLN8FD5Y2M6,4.0,25.0,28.0,Y,N
...,...,...,...,...,...,...
4464051,R37TJH51JX1Q69,5.0,40.0,42.0,Y,N
4541849,R22ZIZJSUY0KTE,5.0,74.0,80.0,Y,N
4541916,RUSUDSP3IX5LO,2.0,87.0,102.0,Y,N
4630218,R199NONGNGZX3S,4.0,20.0,21.0,Y,N
4647725,R20J143LVLMX3J,4.0,31.0,35.0,Y,N

In [7]:
# 4
# Repeat Step 3, but this time retrieve all the rows where the review was 
# not part of the Vine program (unpaid), vine == 'N'.
unpaid_reviews_df = vine_df_cleaned.loc[vine_df_cleaned['vine'] =='N']
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
1176,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N
1515,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

5.
Determine the total number of reviews, 
the number of 5-star reviews, 
and the percentage of 5-star reviews 
for the two types of review (paid vs unpaid).

In [14]:
# Total number of reviews 
total_review_count = vine_df_cleaned['review_id'].count()
total_review_count

59221

In [16]:
# Paid reviews 
paid_reviews_count = paid_reviews_df['review_id'].count()
paid_reviews_count

1203

In [17]:
# Unpaid Reviews
unpaid_reviews_count = unpaid_reviews_df['review_id'].count()
unpaid_reviews_count

58018

In [9]:
# Total number of number of 5-star reviews
five_star_reviews = vine_df_cleaned.loc[vine_df_cleaned['star_rating']==5]['star_rating'].count()
five_star_reviews

28453

In [10]:
# Total Paid 5-Star Reviews 
paid_five_star_reviews = paid_reviews_df.loc[paid_reviews_df['star_rating'] == 5]['star_rating'].count() 
paid_five_star_reviews

410

In [18]:
# Total Unpaid 5-Star Reviews 
unpaid_five_star_reviews = unpaid_reviews_df.loc[unpaid_reviews_df['star_rating'] == 5]['star_rating'].count() 
unpaid_five_star_reviews

28043

In [11]:
# The percentage of paid 5-star reviews
percent_paid_five_star_reviews = paid_five_star_reviews/ five_star_reviews *100
percent_paid_five_star_reviews

1.4409728323902578

In [13]:
# The percentage of unpaid 5-star reviews
percent_unpaid_five_star_reviews  = unpaid_five_star_reviews/ five_star_reviews *100
percent_unpaid_five_star_reviews

98.55902716760974